{% extends "base.html" %}
{% block title %}Tambah Produk - {{ block.super }}{% endblock %}

{%  block content %}
  <h1 class="page-header">Page Tambah Produk</h1>
  <ol class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Beranda</a></li>
    <li class="active">Tambah Produk</li>
  </ol><br/>
   <!--  <form class="form" action="." method="POST">{% csrf_token %}
      {{ form.as_p }}
        <button type="submit">Tambah</button>
    </form> -->

    <!-- FORM -->
  <form class="form" action="." method="POST">{% csrf_token %}
      <div class="col-25">
        <label for="tipe">Tipe Produk</label>
      </div>
      <div class="col-75">
      	{{ form.tipe }}
      </div>
      <div class="col-25">
        <label for="fname">Nama produk</label>
      </div>
      <div class="col-75">
      	{{ form.nama }}
        <!-- <input type="text" id="Nama" name="nama" value=""> -->
      </div>
      <div class="col-25">
        <label for="lname">Harga produk</label>
      </div>
      <div class="col-75">
      	{{ form.harga }}
        <!-- <input type="number" id="harga" name="harga" value=""> -->
      </div>
      <div class="col-25">
        <label for="info">info</label>
      </div>
      <div class="col-75">
      	{{ form.info }}
        <!-- <textarea id="info" name="info" style="height:200px"></textarea> -->
    </div>
    	<button type="submit" class="btn btn-default">Submit</button>
  </form>

{% endblock %}

