{% extends "base.html" %}
{% load staticfiles %}
{% load statistik_tags popular_tags %}

{% block title %}Homepage - {{ block.super }}{% endblock %}

{% block css %}
<link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<style type="text/css">
body {font-family: Arial;}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: inherit;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 14px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #eee;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
}
  table {
      border-spacing: 0;
      border: 1px solid #ddd;
  }
    canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
{% endblock %}
{% block content %}

<div class="row" style="margin-top: 1em">

  <a href="#">
    <div class="col-md-4">
      <div class="panel panel-default panel-body text-center">
        <h3>{% transaksi_tahun_ini %}</h3>
        <p>Transaksi tahun ini</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="col-md-4">
      <div class="panel panel-default panel-body text-center">
        <h3>{% transaksi_bulan_ini %}</h3>
        <p>Transaksi bulan ini</p>
      </div>
    </div>
  </a>

  <a href="#">
    <div class="col-md-4">
      <div class="panel panel-default panel-body text-center">
        <h3>{% transaksi_hari_ini %}</h3>
        <p>Transaksi hari ini</p>
      </div>
    </div>
  </a>

    <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Grafik Harian berdasarkan jam
      </div>
      <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Grafik Bulanan
      </div>
      <canvas id="canvas" class="chartjs" width="undefined" height="undefined"></canvas>
    </div>
  </div>

  <div class="col-md-4"> 
    <div class="panel panel-default">
      <div class="panel-heading">
        Record
      </div>
      <div class="panel-body">
        <label>Transaksi Hari ini : </label>
        <div style="font-size: 21px; font-style: italic;">{% total_income_today %}</div><br>
        <label>Transaksi Bulan ini : </label>
        <div style="font-size: 22px; font-style: italic;">{% total_income_month %}</div><br>
        <label>Tansaksi Tahun ini : </label>
        <div style="font-size: 22px; font-style: italic;">{% total_income_year %}</div>
      </div>
    </div>  
  </div>

<div class="col-lg-5" >
  <div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Makanan')">Makanan</button>
  <button class="tablinks" onclick="openCity(event, 'Minuman')">Minuman</button>
</div>
<p>
        <div id="Makanan" class="tabcontent">
          {% popmakanan as popmakanan_ul %}
          {% for popular_item in popmakanan_ul %}
          <div class="list-group-item">
            {{ popular_item.produk_name }}
            <span class="pull-right text-muted small"><em>{{ popular_item.total_saled }}</em>
            </span>
          </div>
          {% empty %}
          <p>Belum terdapat transaksi!</p>
          {% endfor %}
        </div>

        <div id="Minuman" class="tabcontent">
          {% popminuman as popminuman_ul %}
          {% for popular_item in popminuman_ul %}
          <div class="list-group-item">
            {{ popular_item.produk_name }}
            <span class="pull-right text-muted small"><em>{{ popular_item.total_saled }}</em>
            </span>
          </div>
          {% empty %}
          <p>Belum terdapat transaksi!</p>
          {% endfor %}
        </div>
        <a href="{% url 'view_produk_page' %}" class="btn btn-default btn-block">Lihat Data Produk</a>
</p>

</div>
  <div class="col-lg-3">
  {% include "includes/right_sidebar.html" %}
</div>


</div><hr>
<label>Filter Periode :</label>
  <form method="get" action=".">{% csrf_token %}
    <div class="form-group">
      <div class='input-group date'>
        <input type='text' name="start_date" class="form-control" data-provide="datepicker" placeholder="dari tanggal" style="width:30%" required />
        <input type='text' name="end_date" class="form-control" data-provide="datepicker" placeholder="sampai tanggal" style="width:30%" required />
        <!-- <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span> -->
        <button class="btn btn-primary" type="submit">Filter</button>
      </div>
    </div>
  </form>

<!-- BLOCK CONTENT -->
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        Transaksi
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
<table id="tabel" class="display" style="width:100%">
  <thead>
    <tr>
      <th hidden></th>
      <th>Nama Pelanggan</th>
      <th>Tanggal Transaksi</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    {% for transaksi in semua_transaksi %}
    <tr>
      <td hidden></td>
      <td>
        <a href="{% url 'view_detail_transaksi_page' pk=transaksi.pk %}" title="Detail Transaksai {{ transaksi.pelanggan.nama  }}">
          <span>
            <b>{{ transaksi.pelanggan.nama  }}</b>
          </span>
        </a>
      </td>
      <td>{{ transaksi.tanggal_transaksi }}</td>
      <td>{{ transaksi.total_transaksi}}</td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="4">Transaksi kosong!</td></tr>
    {% endfor %}
    </tbody>
</table>
</div>
</div>
</div>
</div>
<!-- <canvas id="canvas"></canvas> -->


{% endblock %}

{% block js %}
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script> -->
<script src="{% static 'js/Chart.min.js' %}"></script>
<script src="{% static 'js/datepicker.min.js' %}"></script>
<script type="text/javascript">
  function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}


  $.fn.datepicker.defaults.format = "yyyy-mm-dd";
      $('.datepicker').datepicker({
          startDate: '-3d'
      });
      
  $(document).ready(function() {
    var table = $('#tabel').DataTable( {
      rowReorder: true
    } );
  });

  //DELETE
  function confirmDelete(delUrl) {
    if (confirm("Are you sure you want to delete?")) {
      document.location = delUrl;
    }
  }
  //PROSES
  function confirmAdd(addUrl) {
    if (confirm("Are you sure you want to Proses Transaksi?")) {
      document.location = addUrl;
    }
  }

var barChartData = {
      "labels": ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'],

      "datasets": [{
        "label": 'Jumlah transaksi',
        "backgroundColor": [
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',

          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)',
          'rgba(255, 99, 132, 0.2)'
        ],
        "data": [
          '{{ 1|get_total_income_this_month }}',
          '{{ 2|get_total_income_this_month }}',
          '{{ 3|get_total_income_this_month }}',
          '{{ 4|get_total_income_this_month }}',
          '{{ 5|get_total_income_this_month }}',
          '{{ 6|get_total_income_this_month }}',
          '{{ 7|get_total_income_this_month }}',
          '{{ 8|get_total_income_this_month }}',
          '{{ 9|get_total_income_this_month }}',
          '{{ 10|get_total_income_this_month }}',
          '{{ 11|get_total_income_this_month }}',
          '{{ 12|get_total_income_this_month }}'
        ]
      }, {
        "label": 'Total ',
        "backgroundColor": [
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',

          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)',
          'rgba(54, 162, 235, 0.2)'
        ],
        "data": [
          '{{ 1|get_total_income_this_month_1 }}',
          '{{ 2|get_total_income_this_month_1 }}',
          '{{ 3|get_total_income_this_month_1 }}',
          '{{ 4|get_total_income_this_month_1 }}',
          '{{ 5|get_total_income_this_month_1 }}',
          '{{ 6|get_total_income_this_month_1 }}',
          '{{ 7|get_total_income_this_month_1 }}',
          '{{ 8|get_total_income_this_month_1 }}',
          '{{ 9|get_total_income_this_month_1 }}',
          '{{ 10|get_total_income_this_month_1 }}',
          '{{ 11|get_total_income_this_month_1 }}',
          '{{ 12|get_total_income_this_month_1 }}'
        ]
      }]
    };
      var ctx = document.getElementById('canvas').getContext('2d');
      window.myBar = new Chart(ctx, {
        "type": 'bar',
        "data": barChartData,
        "options": {
          // "title": {
          //   "display": true,
          //   "text": 'Chart.js Bar Chart - Stacked'
          // },
          "tooltips": {
            "mode": 'index',
            "intersect": false
          },
          "responsive": true,
          "scales": {
            'xAxes': [{
              'stacked': true,
            }],
            "yAxes": [{
              'stacked': true
            }]
          }
        }
      });

new Chart(document.getElementById("chartjs-0"),
  {"type":"bar",
  "data":{
    "labels":[
      '01.00', '02.00', '03.00','04.00', '05.00', '06.00', '07.00', '08.00', '09.00', '10.00', '11.00', '12.00', '13.00', '14.00', '15.00', '16.00', '17.00', '18.00', '19.00', '20.00', '21.00', '22.00', '23.00','24.00' 
    ],
  "datasets":[{
    "label": 'Jumlah Transaksi',
    "data":[
      '{{ 1|get_total_harga_this_day }}',
      '{{ 2|get_total_harga_this_day }}',
      '{{ 3|get_total_harga_this_day }}',
      '{{ 4|get_total_harga_this_day }}',
      '{{ 5|get_total_harga_this_day }}',
      '{{ 6|get_total_harga_this_day }}',
      '{{ 7|get_total_harga_this_day }}',
      '{{ 8|get_total_harga_this_day }}',
      '{{ 9|get_total_harga_this_day }}',
      '{{ 10|get_total_harga_this_day }}',
      '{{ 11|get_total_harga_this_day }}',
      '{{ 12|get_total_harga_this_day }}',
      '{{ 13|get_total_harga_this_day }}',
      '{{ 14|get_total_harga_this_day }}',
      '{{ 15|get_total_harga_this_day }}',
      '{{ 16|get_total_harga_this_day }}',
      '{{ 17|get_total_harga_this_day }}',
      '{{ 18|get_total_harga_this_day }}',
      '{{ 19|get_total_harga_this_day }}',
      '{{ 20|get_total_harga_this_day }}',
      '{{ 21|get_total_harga_this_day }}',
      '{{ 22|get_total_harga_this_day }}',
      '{{ 23|get_total_harga_this_day }}',
      '{{ 24|get_total_harga_this_day }}'
    ],
    // "fill":false,
    // "backgroundColor":[
    //   "rgba(255, 99, 132, 0.2)",
    //   "rgba(255, 159, 64, 0.2)",
    //   "rgba(255, 205, 86, 0.2)",
    //   "rgba(75, 192, 192, 0.2)",
    //   "rgba(54, 162, 235, 0.2)",
    //   "rgba(153, 102, 255, 0.2)",
    //   "rgba(201, 203, 207, 0.2)"
    // ],
    // "borderColor":[
    //   "rgb(255, 99, 132)",
    //   "rgb(255, 159, 64)",
    //   "rgb(255, 205, 86)",
    //   "rgb(75, 192, 192)",
    //   "rgb(54, 162, 235)",
    //   "rgb(153, 102, 255)",
    //   "rgb(201, 203, 207)"
    // ],
    "borderWidth":2
    }
  ]},
"options":{
  "legend": {
      "display": false
  },
  "scales":{
    "yAxes":[{
      "ticks":{
        "min":0
      }
    }]
  }
}
});
</script>
{% endblock %}